---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import Canada from '../assets/discovercanada-small.webp';
import MyOldWebsite from '../assets/myoldwebsite-small.webp';
import SuperTire from '../assets/supertire-small.webp';
import Flex from '../assets/flexfit-small.webp';
const pageTitle = "Talal Emran - My Projects";
const pageDescription = "Explore the projects by Talal Emran, a web designer and developer based in Ottawa, Canada. Discover innovative web design and development solutions.";
---

<Layout title={pageTitle} description={pageDescription}>
    <Header/>
<div>
    <main>
        <h1>My Projects</h1>
        <p>Here are some of my recent projects that I have worked on. I have experience in web design, development, graphic design, and photography.</p>
        <br>
        <hr>
        <br>
        <h2>Web Design and Development Projects</h2>
        <p>These are some of the web design and development projects that I have worked on recently. I have experience in HTML, CSS, JavaScript, and WordPress.</p>
        <br>
        <h3>Live Websites:</h3>
        <p>
        <ul class="list-none">
            <li><i class="fa-brands fa-wordpress-simple"></i>  <a href="https://www.upnorthhub.com" target="_blank">UpNorthHub</a></li>
            <li><i class="fa-brands fa-html5"></i>  <a href="https://maestrobarbershop.ca/" target="_blank">Maestro Barbershop</a></li>
            <li><i class="fa-brands fa-wordpress-simple"></i>  <a href="https://www.mostlogicstudio.com" target="_blank">Most Logic Studio</a></li>
        </ul>
      </p>
      <br>
      <h3>Other Projects:</h3>
         <p>
            <ul class="list-none">
                <li><i class="fa-brands fa-html5"></i>  <a href="https://myoldwebsite77.netlify.app/" target="_blank">My Old Website</a></li>
                <li><i class="fa-brands fa-html5"></i>  <a href="https://supertire.netlify.app/" target="_blank">Super Tire</a></li>
                <li><i class="fa-brands fa-html5"></i>  <a href="https://discovercanada.netlify.app/" target="_blank">Discover Canada</a></li>
                <li><i class="fa-brands fa-html5"></i>  <a href="https://flexfit77.netlify.app/" target="_blank">Flex Fit</a></li>
            </ul>
         </p>
         <br>
        <!-- <div class="portfolio-grid">
            <div class="portfolio-item">
                <img src={MyOldWebsite.src} alt="My Old Website">
                <h3>My Old Website</h3>
                <p>This is the old version of my website, so I need to update it as well to be nice look.</p>
                <p><a href="https://myoldwebsite77.netlify.app/" title="Go to My Old Website" target="_blank" class="btn1"><i class="fa-solid fa-arrow-up-right-from-square"></i></a> <a href="https://github.com/talalemran" title="Go to My Old Website Github" target="_blank" class="btn1"><i class="fa-brands fa-github"></i></a></p>
            </div>
            <div class="portfolio-item">
                <img src={SuperTire.src} alt="Super Tire">
                <h3>Super Tire</h3>
                <p>Web project for Super Tire Auto tire installation based in Ottawa, Ontario.</p>
                <p><a href="https://supertire.netlify.app/" title="Go to Super Tire" target="_blank" class="btn1"><i class="fa-solid fa-arrow-up-right-from-square"></i></a> <a href="https://github.com/talalemran" title="Go to Super Tire Github" target="_blank" class="btn1"><i class="fa-brands fa-github"></i></a></p>
            </div>
            <div class="portfolio-item">
                <img src={Canada.src} alt="Discover Canada">
                <h3>Discover Canada</h3>
                <p>Web project about Canada contains: a little Canadian information and gallery.</p>
                <p><a href="https://discovercanada.netlify.app/" title="Go to Discover Canada" target="_blank" class="btn1"><i class="fa-solid fa-arrow-up-right-from-square"></i></a> <a href="https://github.com/talalemran" title="Go to Discover Canada Github" target="_blank" class="btn1"><i class="fa-brands fa-github"></i></a></p>
            </div>
            <div class="portfolio-item">
                <img src={Flex.src} alt="Flex Fit">
                <h3>Flex Fit</h3>
                <p>Website project about Gym for Flex Fit in black and yellow color.</p>
                <p><a href="https://flexfit77.netlify.app/" title="Go to Flex Fit" target="_blank" class="btn1"><i class="fa-solid fa-arrow-up-right-from-square"></i></a> <a href="https://github.com/talalemran" title="Go to Flex Fit Github" target="_blank" class="btn1"><i class="fa-brands fa-github"></i></a></p>
            </div>
        </div> -->
    </main>
</div>
<Footer/>
</Layout>
